.recent-search{
    background-color: rgb(0, 0, 0);
    margin-left: 88px;
    width: 93.55%;
    height: 52px;
    padding-bottom: 5px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    position: fixed;
    left: 5px;
    top: 60px;
    z-index: 1;
    
}

.recentsearch a{
    font-size: 14px;
    text-decoration: none;
    background-color:rgb(5, 48, 38);
    color: white;
    height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;

    border-radius: 8px;
    border-color: black;
    border-width: 4px;

    transition: background-color 0.5s;
}

.recentsearch:hover a{
    background-color:rgb(28, 95, 81);
}

.recentsearch:active a{
    background-color: white;
    color: black;
}